flows.json
[{"id":"34174632.55807a","type":"tab","label":"ДЗ №2","disabled":false,"info":""},{"id":"9fa27e2d.0e5f28","type":"http in","z":"34174632.55807a","name":"Номер телефона и sid на вход по get урлу","url":"/phone","method":"get","upload":false,"swaggerDoc":"","x":270,"y":40,"wires":[["95188137.120b58"]]},{"id":"d5abd074.4c54f8","type":"debug","z":"34174632.55807a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":300,"wires":[]},{"id":"2cb0394e.15beae","type":"http response","z":"34174632.55807a","name":"успешный ответ пользователю","statusCode":"200","headers":{},"x":1120,"y":220,"wires":[]},{"id":"95188137.120b58","type":"function","z":"34174632.55807a","name":"сохраняю входные параметры: номер телефона и сид","func":"msg.phone_number = msg.payload.phone_number;\nmsg.sid = msg.payload.sid;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["2b8e5eb9.710f4a"]]},{"id":"1158216f.0ca81f","type":"function","z":"34174632.55807a","name":"","func":" if ( msg.topic == \"banana\" ) { \n    \n    return [ null , msg ]; \n     \n } \n else \n {\n     return [ msg , null ]; \n     \n } \n\n","outputs":2,"noerr":0,"x":390,"y":620,"wires":[["1e849191.be6d36"],[]]},{"id":"1e849191.be6d36","type":"debug","z":"34174632.55807a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":620,"wires":[]},{"id":"d527857e.13e2a8","type":"inject","z":"34174632.55807a","name":"","topic":"banana","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":620,"wires":[["1158216f.0ca81f"]]},{"id":"3d2a4ba5.796c4c","type":"function","z":"34174632.55807a","name":"формирую страницу html-ответ","func":"msg.payload = '<p>hello</p><br/>' + msg.phone_number + ' ' + msg.sid;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":260,"wires":[["2cb0394e.15beae","d5abd074.4c54f8"]]},{"id":"2b8e5eb9.710f4a","type":"function","z":"34174632.55807a","name":"","func":"var operator_mask = msg.phone_number.substr(0, 3);\n\n// Киевстар\n// +38 039 xxx xx xx\n// +38 067 xxx xx xx\n// +38 068 xxx xx xx\n// +38 096 xxx xx xx\n// +38 097 xxx xx xx\n// +38 098 xxx xx xx\n// Vodafone (МТС)\n// +38 050 xxx xx xx\n// +38 066 xxx xx xx\n// +38 095 xxx xx xx\n// +38 099 xxx xx xx\n// lifecell (life:))\n// +38 063 xxx xx xx\n// +38 093 xxx xx xx\n\nif (operator_mask == '039' ||\n    operator_mask == '067' ||\n    operator_mask == '068' ||\n    operator_mask == '096' ||\n    operator_mask == '097' ||\n    operator_mask == '098') {\n    return [msg, null];\n} else {\n    if (operator_mask == '050' ||\n        operator_mask == '066' ||\n        operator_mask == '095' ||\n        operator_mask == '099') {\n            return [null, msg];\n        } else {\n            if (operator_mask == '063' ||\n                operator_mask == '093') {\n                    return [null, null, msg];\n                } else {\n                    return [null, null, null, msg];\n                }\n        }\n}","outputs":4,"noerr":0,"x":210,"y":280,"wires":[["3d2a4ba5.796c4c","be1f54b9.fbf458"],["ae058ff0.5b7398"],[],[]]},{"id":"be1f54b9.fbf458","type":"debug","z":"34174632.55807a","name":"debug1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":320,"wires":[]},{"id":"ae058ff0.5b7398","type":"debug","z":"34174632.55807a","name":"debug2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":380,"wires":[]}]
